#main {
    margin-bottom: 5rem;
}

.todo-item input:disabled {
    background-color: transparent;
    border: none;
}

/* 初期表示 非表示 */
.todo-item .save-btn,
.todo-item .cancel-btn,
.todo-item .delete-btn,
.todo-item .notyet-btn,
.todo-item .checked,
/* 編集中 非表示 */
.todo-item.edit .edit-btn,
.todo-item.edit .done-btn,
/* 完了中 非表示 */
.todo-item.done .done-btn {
    display: none;
}

/* 編集中 表示 */
.todo-item.edit .save-btn,
.todo-item.edit .cancel-btn,
.todo-item.edit .delete-btn,
/* 完了中 表示 */
.todo-item.done .notyet-btn,
.todo-item.done .checked {
    display: block;
}

/* 完了修正ボタン 編集中 非表示 */
.todo-item.edit .notyet-btn {
    display: none;
}

#floating-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}