#main {
    margin-bottom: 5rem;
}

.todo-item input:disabled {
    background-color: transparent;
    border: none;
}

.todo-item .save-btn, .todo-item .cancel-btn, .todo-item .delete-btn {
    display: none;
}

.todo-item.edit .edit-btn {
    display: none;
}

.todo-item.edit .save-btn, .todo-item.edit .cancel-btn, .todo-item.edit .delete-btn {
    display: block;
}

#floating-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}